<h2 class="sidebar-title">Popular posts</h2>
<div class="grid" style="position: relative; height: 1221.93px;">
    {% for item in posts %}
        <div class="portfolio-item popular" style="position: absolute; left: 0px; top: 0px;">
            {% if item.photo %}
                <img src="{{ item.photo.url }}" alt="">
            {% endif %}
            <div class="portfolio-text">
                <h5><a href="{{ item.get_absolute_url }}">Pay Close Attention To People Who Don’t Clap When You Win
                    recent1.</a></h5>
                <p>By {{ item.author }} <span>|</span>{{ item.created_at|date:"M/d"  }}</p>
            </div>
        </div>
    {% endfor %}

</div>